.main{
    background:#f5f7fb;
}

section[data-testid="stSidebar"]{
    background:#16213e;
}

h1,h2,h3{
    color:#1565c0;
}

div[data-testid="metric-container"]{
    background:white;
    border-radius:15px;
    padding:20px;
    border-left:6px solid #1976d2;
    box-shadow:0 4px 10px rgba(0,0,0,.1);
}

.stButton>button{
    width:100%;
    border-radius:10px;
    background:#1976d2;
    color:white;
    font-weight:bold;
}

.stButton>button:hover{
    background:#0d47a1;
}

.stProgress>div>div{
    background:#1976d2;
}